
/*seletores agrupados
#titulo, .missao {
	font-family: Arial;
}

.introducao, .missao{
	color: red;
}
*/

/*seletores descendentes
.missao strong {
	color: green;
}
*/

/*seletores descendentes
article .missao strong {
	color: red;
}
*/

/*seletores de filhos diretos*/
article > .importante > strong {
	color: green;
}